<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Otus" verbose="1" >
    <test name="BlazeDemo">
        <classes>
            <class name="ru.otus.test.FirstTest"></class>
        </classes>
    </test>
    <test name="maven_check">
        <classes>
            <class name="ru.otus.test.SecondTest"></class>
        </classes>
    </test>
</suite>
